.navbar {
    padding: 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    white-space: nowrap;
    transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar a:hover,
.navbar a:focus:hover {
    color: #fff;
}

@media (max-width: 900px) {
    #navbar {
        display: none;
    }
}

/* Add this CSS to your existing styles */
.mobile-menu-button {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    margin-right: 15px;
}

.mobile-menu ul {
    list-style: none;
    padding: 0;
}

.mobile-menu li {
    padding: 10px 0;
    text-align: center;
}

.mobile-menu a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 10px;
}

/* Media query to show/hide the mobile menu and button */
@media (max-width: 900px) {
    #navbar {
        display: none;
    }

    .mobile-menu-button {
        display: block;
    }

    .mobile-menu {
        display: block;
    }
}

@media (max-width: 900px) {
    #navbar {
        display: none;
    }
}

/* Style for the mobile menu icon */
.mobile-menu-button {
    position: absolute;
    top: 80px;
    right: 20px;
    background: none;
    border: none;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

.mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    /* Semi-transparent background */
    z-index: 1000;
}

.mobile-menu ul {
    list-style: none;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.mobile-menu li {
    padding: 20px 0;
}

.mobile-menu a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    display: block;
    padding: 10px;
}

.close-mobile-menu-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}